{{ include('header_fotografo.html') }}

<main>
    <div class="container mt-5 galeria">
   <div class="header d-flex justify-content-between flex-wrap">
    <h1>Fotos Evento {{ estrutura.nomeEvento | raw }}</h1>
    <div class="btn-subir-fotos">
        <label for='selecao-arquivo'><i class="bx bx-upload"></i> Selecionar um arquivo </label>
    <input id='selecao-arquivo' type='file'>
    </div>
   </div>
      <hr>
      <span>{{ estrutura.totalFotos | raw }}</span>
      <div class="fotos">
        {% for foto in estrutura.fotosEvento %}
          <div class="img-card">
            <div class="remover">
              <button class="btn btn-remove" onclick="deletarFoto({{ foto.id | raw }}, {{ estrutura.idEvento | raw }})"><i class="bx bx-trash"></i></button>
            </div>
            <img src="{{ estrutura.urlFotoS3 | raw }}{{ foto.imagem_webp | raw }}" alt="Foto">
            <div class="overlay"></div>
          </div>
        {% endfor %}
      </div>       
    </div>
</main>

{{ include('footer_fotografo.html') }}