<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ estrutura.title | raw }}</title>
        {{ estrutura.favicon | raw }}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{{ estrutura.url | raw }}public/css/fotografo.css?v={{ estrutura.version | raw }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup/dist/magnific-popup.css">
    </head>
    <body>
        <nav>
            <div class="bem-vindo">
                <h2><Strong>Olá,</Strong> {{ estrutura.fotografo | raw }}</h2>
            </div>
            <ul class="nav-links m-0 p-0">
                <li><a href="{{ estrutura.url }}admin"><i class="bx bx-calendar"></i> Eventos</a></li>
                <li><a href="#" onclick="sairPainel()"><i class="bx bx-log-out"></i> Sair</a></li>
            </ul>    
        </nav>  