{{ include('header_login.html') }}

<div class="coluna-1">
    <div class="logo mb-5 text-center" >
        <a href="{{ estrutura.url | raw }}"><img src="{{ estrutura.logoLoja | raw }}" alt=""></a><br>
        <span>FOTOGRÁFOS</span>
    </div>
    <form class="formLogin" id="formLogin" method="POST">
        <h1>Login</h1>
        <div class="div-bar mb-4"></div>
        <div class="inputBox">
            <input class="login-codigo" type="text" placeholder="Código de Acesso" name="login_codigo" required>
        </div>
        <div class="inputBox">
            <input class="login-user" type="text" placeholder="Usuário" name="login_user" required>
        </div>
        <div class="inputBox">
            <input class="login-senha" type="password" placeholder="Senha" name="login_senha" required>
        </div>
        <div class="links">
            <a href="{{ estrutura.url }}esqueci-minha-senha">Esqueci a Senha</a>
        </div>
        <input class="btn-login mt-3" type="submit" value="ENTRAR">
    </form>
</div>
<div class="coluna-2">
    <img src="{{ estrutura.url }}public/img/login.png?v={{ estrutura.version | raw }}" alt="Fotografo com uma camera">
</div>

{{ include('footer_login.html') }}