{{ include('header.html') }}

<main>

    <section class="py-3 py-md-5 py-xl-8">
       

        <div class="container">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
               <div class="div">
                <h1><strong>{{ estrutura.nomeEmpresa | raw }}</strong></h1>
                <p class="mb-3">{{ estrutura.quem_somos | raw }}</p>
                <a href="#" class="btn btn-primary">Fale com consultor!</a>
            </div>
              </div>
              <div class="col-lg-6">
                <div class="img-mulher">
                    <img src="{{ estrutura.url }}public/img/sobre.png" alt="">
                </div>
              </div>
            </div>
        </div>
    </section>

</main>        

{{ include('footer.html') }}